.navbar-nav {
    width: 100%;
    text-align: center;
    
    color:white;
    > li {
      float:none;
      display: inline-block;
    }
  }
body
{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); 
background-repeat:no-repeat; 
background-position:center;}